.barre {
    z-index: 2;
   display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;
}

body {
    background-color: #fff;
}
.bloc1 {
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.image {
     z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
}
.filtres {
    z-index: 2;
   display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 35px;
}
.myheader{
    background: rgba(0,0,0,.7) url(https://i.ytimg.com/vi/TVFqxCaQTfw/maxresdefault.jpg);
    background-position: center;
}

.myartist{
    text-align: center;
    color: darkred;
    font-size: 24px;
}

.mytitle{
    text-align: center;
    color: darkred;
    font-size: 18px;
    font-family: sans-serif;
}

.myalbum{
    text-align: center;
    margin: auto;
    color: darkred;
    font-size: 18px;
}

.myimg{
    align-content: flex-end;
    justify-content: flex-end;
    width: 150px;
    height: 150px;
}


body{
    background-color: black;
}