.barre {
   display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 35px;
}

.bloc1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.image {
    display: flex;
    justify-content: flex-end; 
}

.filtres {
   display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 35px;
}